{% extends 'pages/main/main.html' %}
{% load static %}

{% block style %}
    .a{
        margin: auto;
        margin-top:30px;
        padding: 20px 50px;
        background: white ;
        border-radius:5px;
        width:50%;
    }
{% endblock style %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
{% endif %}

<div class="a" >
    <form class="row g-3" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
		<div class="form-outline">
            <label for="form2Example17" class="form-label" >Mã độc giả</label>
            <input type="text" name="rId" value="{{ request.session.rId }}" readonly>
        </div>
		<div class="form-outline">
            <label for="form2Example17" class="form-label ">Tiền nợ</label>
            <input type="number" name="debt" value="{{ request.session.debt }}" readonly>
          </div>
		<div class="form-outline">
            <label for="form2Example17" class="form-label ">Tiền thu</label>
            <input type="number" name="proceeds">
        </div> 
		
        <div style="margin-top:30px;">
        	<input class="btn btn-primary btn-block" type="submit" name="update" value="Cập nhật">
        </div>

        <div>
            <a href="{% url 'receipt_list' %}" class=" btn btn-primary trigger-btn" >Trở lại</a>
        </div>

        
    </form>
</div>  



{% endblock content %}
