{% extends 'pages/main/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6" style="margin:auto;">
        <div class="card card-body">

            <p style="margin:auto;">Bạn có chắc muốn xóa phiếu thu này?</p>
            <form action="{% url 'remove_receipt' receipt.pk %}" method="POST" style="margin:auto;">
                {% csrf_token %}
                <a class='btn btn-warning' href="{% url 'receipt_list' %}">Hủy bỏ</a>

                <input class='btn btn-danger' type="submit" value="Xác nhận">
            </form>
        </div>
    </div>
</div>
{% endblock content %}