{% extends 'pages/table_form.html' %}
{% load static %}


{% block title_name %}
<p>Danh sách độc giả mượn sách</p>

{% endblock title_name %}

{% block button %}
	<div class="add_button">
        <a class="btn btn-danger" href="{% url 'request_onl_list' %}">Yêu cầu mượn sách</a>
		<a class="btn btn-primary" href="{% url 'request_off' %}">Lập phiếu mượn mới</a>
	</div>
{% endblock button %}


{% block table_head %}
<tr>
    <th>Mã độc giả</th>
    <th>Ngày mượn</th>
    <th>Xem chi tiết </th>
    <th>Trả sách</th>
</tr>

{% endblock table_head %}
{% block table_body %}

{% for i in borrows %}
<tr>
    <th>{{i.reader.rId}}</th>
    <th>{{i.date_borrow}}</th>
    <th><a class="btn btn-primary" href="{% url 'borrow_detail' i.pk %}">Xem chi tiết</a></th>
    <th><a class="btn btn-warning" href="{% url 'return_book' i.pk %}">Trả sách</a></th>
</tr>	
{% endfor %}

{% endblock table_body %}


