{% extends 'pages/main/main.html' %}
{% load static %}


{% block style %}
	.container{
        width: 40%;
        padding: 50px;
        background-color : #e6e6fa ;
        margin-top:50px;
        border-radius: 5px;
    }
    .title_name{
        margin-left:35%;
    }
    .container_contain{
        margin-top: 20px;
        margin-left: 20px;
    }
    .gr_button{
        margin-top: 20px;
        display: flex;
        justify-content:space-between;
    }
{% endblock style%}



{% block content %}
<div class="container">
    <div class="title_name list_name_title">
        <p>Phiếu phạt</p>
    </div>
    
    <div class="container_contain">
        <p class="hoten">Họ và tên:   {{ticket.reader}}</p>
        <p class="tienphat">Tiền phạt: {{ticket.proceeds}}</p>
        <p class="lydo">Lý do:{{ticket.reasons}}</p>
        <p class="nguoilap">Người lập phiếu:{{ticket.staff}}</p>
    </div>
    
    <div class="gr_button">
        <a class="btn btn-danger" href="{% url 'borrowers' %}">Hủy bỏ</a>
		<a class="btn btn-primary" href="{% url 'borrowers' %}">Xác nhận</a>
    </div>
</div>

{% endblock content %}
