{% extends 'pages/table_form.html' %}
{% load static %}


{% block title_name %}
	<p>Danh sách độc giả</p>

{% endblock title_name %}

{% block button %}
	<div class="add_button">
		<a href="{% url 'register_reader' %}" type="button" class="btn btn-outline-primary" >Thêm độc giả</a>
	</div>
{% endblock button %}
{% block table_head %}
<tr>
<th>Mã độc giả</th>
<th>Họ tên</th>
<th>Email</th>
<th>Loại độc giả</th>
<th>Ngày sinh</th>
<th>Địa chỉ</th>
<th>Ngày lập thẻ</th>
<th>Người lập thẻ</th>
</tr>
{% endblock table_head %}
{% block table_body %}
{% for i in readers %}
<tr>
	<th>{{i.pk}}</th>
	<th>{{i.name}}</th>
	<th>{{i.email}}</th>
	<th>{{i.get_reader_type_display}}</th>
	<th>{{i.birth}}</th>
	<th>{{i.address}}</th>
	<th>{{i.date_created}}</th>
	<th>{{i.card_maker.name}}</th>
</tr>
{% endfor %}
{% endblock table_body %}

