{% extends 'pages/main/main.html' %}
{% load static %}


{% block style %}
.form{
    margin: auto;
    margin-top:10px;
    padding: 40px 50px;
    width: 30%;
    background: #C3B4E2 ;
    border-radius:5px;
}
.title_name{
    color:#4C3876 ;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 35px;
}
.col-12{
    margin-top: 30px;
}
{% endblock style %}


{% block content %}
<div class="form">
    <div class="title_name">
		<div class="d-flex justify-content-center">
			<h3>Đăng ký độc giả</h3>
		</div>
	</div>
    <form method="POST" action="" class="row g-3">
			{% csrf_token %}
			<div class="form-outline">
				<label class="form-label" for="form2Example17">Tên độc giả</label>
				{{form.name}}
			</div>

			<div class="form-outline">
				<label class="form-label" for="form2Example27">Loại độc giả</label>
				{{form.reader_type}}
			</div>
            <div class="form-outline">
				<label class="form-label" for="form2Example17">Địa chỉ</label>
				{{form.address}}
			</div>

			<div class="form-outline">
				<label class="form-label" for="form2Example27">Email</label>
				{{form.email}}
			</div>
            <div class="form-outline">
				<label class="form-label" for="form2Example27">Ngày đăng ký</label>
				{{form.date_created}}
			</div>

            <div style="margin-top:30px;">
                <input class="btn btn-block" type="submit" style="background-color: #4C3876; color: white;" value="Thêm">
            </div>
    </form>
</div>
<script>
						
    var form_fields = document.getElementsByTagName('input')

    for (var field in form_fields){	
        form_fields[field].className += ' form-control'

    }
</script>


{% endblock content %}
