{% extends 'pages/table_form.html' %}
{% load static %}

{% block style_extra %}
	.table{
        margin:auto;
		width: 50%;
	}
    .submit{    
        margin:20px 45% ;
    }

{% endblock style_extra %}

{% block line_info %}
    <div class="infor_title">
        <p class="infor_title_name">Mã độc giả:</p>
        <input class="form-control form-control-sm" type="text" value="{{order.reader.rId}}" readonly style="margin-left: 10px;width:150px;">
    
    </div>
{% endblock line_info %}


{% block title_name %}
<p>Danh sách sách đăng ký</p>

{% endblock title_name %}

{% block table_head %}
<tr >
    <th>Mã sách</th>
    <th>Tên sách</th>
</tr>

{% endblock table_head %}
{% block table_body %}

{% for i,j in list %}
<tr>
    <th>{{i}}</th>
    <th>{{j}}</th>
</tr>	
{% endfor %}

{% endblock table_body %}
{% block confirm_button %}
<form method="POST"  action="" class="text-center">
    {% csrf_token %}
    <input class='btn btn-primary text-center' type="submit" style="margin-top:50px;" value="Xác nhận" >
</form>
{% endblock %}



