{% extends 'pages/table_form.html' %}
{% load static %}

{% block style_extra %}

{% endblock style_extra %}

{% block line_info %}
    <div class="infor_title">
        <p class="infor_title_name">Mã độc giả:</p>
        <input class="form-control form-control-sm" type="text" value = "{{reader_id}}" readonly style="margin-left: 10px;width:150px;">
    </div>
{% endblock line_info %}


{% block title_name %}
<p>Sách độc giả đang mượn</p>
{% endblock title_name %}


{% block table_head %}
<tr>
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Ngày mượn</th>
    <th>Ngày trả</th>
    <th>Số ngày mượn</th>
    <th>Trả</th>
    <th>Mất</th>
    <th>Tiền phạt</th>

</tr>

{% endblock table_head %}
{% block table_body %}
<form method="post">
    {% csrf_token %}
    {% for book,name in borrow_detail %}
    <tr>
        <th>{{book}}</th>
        <th>{{name}}</th>
        <th>{{date_borrow|date:'d-m-y'}}</th>
        <th>{{today|date:'d-m-y'}}</th>
        <th>{{num_days_borrow}}</th>
        <th><label><input type="radio" id="choice" value="return" name="return{{book}}" /></label></th>
        <th><label><input type="radio" id="choice" value="lost" name="return{{book}}" /></label></th>
        <th>{{fine}}</th>
    </tr>	
    {% endfor %}

    <tr>
        <th colspan="7" >Tổng tiền phạt: </th>
        <th>{{total_fine}}</th>
    </tr>

    {% include "pages/messages.html" %}

    {% endblock table_body %}


    {% block confirm_button %}
    <div class="text-center">
        <!-- Button HTML (to Trigger Modal) -->
        <button type='submit' class=" btn btn-primary trigger-btn">Lưu</button>
    </div>
    {% endblock confirm_button%}
</form>