{% extends 'pages/main/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Bạn có chắc muốn xóa nhân viên "{{staff.name}}"?</p>
            <form action="{% url 'delete_staff' staff.sId %}" method="POST">
                {% csrf_token %}
                <a class='btn btn-warning' href={% url 'manager_dashboard' %}>Trở lại</a>

                <input class='btn btn-danger' type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock content %}