{% extends 'pages/table_form.html' %}
{% load static %}


{% block title_name %}
	<p>Danh sách nhân viên</p>

{% endblock title_name %}

{% block button %}
	<div class="add_button">
		<a href={% url 'add_staff' %} type="button" class="btn btn-outline-primary" >Thêm nhân viên</a>
	</div>
{% endblock button %}
{% block table_head %}
<tr>
<th>Mã nhân viên</th>
<th>Họ tên</th>
<th>Ngày sinh</th>
<th>Địa chỉ</th>
<th>Ngày lập</th>
<th>Bằng cấp</th>
<th>Vị trí</th>
<th>Bộ phận</th>
{% comment %} <th></th> {% endcomment %}
<th></th>
</tr>
{% endblock table_head %}
{% block table_body %}
	{% for i in staffs %}
		<tr>
			<th>{{i.pk}}</th>
			<th>{{i.name}}</th>
			<th>{{i.birth}}</th>
			<th>{{i.address}}</th>
			<th>{{i.date_created}}</th>
			<th>{{i.get_certificate_display}}</th>
			<th>{{i.get_position_display}}</th>
			<th>{{i.get_service_display}}</th>
			{% comment %} <th><a type="submit" class="btn btn-outline-primary" href ="">Cập nhật</a></th> {% endcomment %}
			<th><a type="submit" class="btn btn-outline-danger" href ="{% url 'delete_staff' i.pk %}">Xóa nhân viên</a></th>	
		</tr>
	{% endfor %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
	{% endfor %}
{% endif %}{% endblock table_body %}