{% extends 'pages/table_form.html' %}
{% load static %}


{% block title_name %}
	<p>Danh sách nhân viên</p>

{% endblock title_name %}

{% block button %}
	<div class="add_button">
		<a href={% url 'add_staff' %} type="button" class="btn btn-primary" >Thêm nhân viên</a>
	</div>
{% endblock button %}
{% block filter %}
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			<div class="form-row">
				<div class="form-group col">
					<label class="form-label" for="form2Example17">Tên nhân viên</label>
					{{staff_filter.form.name}}
				</div>
	
				<div class="form-group col">
					<label class="form-label" for="form2Example27">Mã nhân viên</label>
					{{staff_filter.form.sId}}
				</div>
				<div class="form-group col">
					<label class="form-label" for="form2Example17">Bằng cấp</label>
					{{staff_filter.form.certificate}}
				</div>
	
				<div class="form-group col">
					<label class="form-label" for="form2Example27">Chức vụ</label>
					{{staff_filter.form.position}}
				</div>
	
				<div class="form-group col">
					<label class="form-label" for="form2Example27">Bộ phận</label>
					{{staff_filter.form.service}}
				</div>
				
			</div>
			<button class="btn btn-primary" type="submit">Tìm</button>
		  </form>
		</div>
	</div>
</div>
<script>
						
    var form_fields = document.getElementsByTagName('input')
	var choice_fields = document.getElementsByTagName('select')

    for (var field in form_fields){	
        form_fields[field].className += 'form-control'
    }
	for (var field in choice_fields){	
		choice_fields[field].className += 'form-select'
	}

</script>

{% endblock filter %}


{% block table_head %}
<tr>
<th>Mã nhân viên</th>
<th>Họ tên</th>
<th>Ngày sinh</th>
<th>Địa chỉ</th>
<th>Ngày lập</th>
<th>Bằng cấp</th>
<th>Vị trí</th>
<th>Bộ phận</th>
<th>Tên tài khoản</th>
<th></th>
</tr>
{% endblock table_head %}
{% block table_body %}
	{% for i in staffs %}
		<tr>
			<th>{{i.pk}}</th>
			<th>{{i.name}}</th>
			<th>{{i.birth|date:'d-m-Y'}}</th>
			<th>{{i.address}}</th>
			<th>{{i.date_created|date:'d-m-Y'}}</th>
			<th>{{i.get_certificate_display}}</th>
			<th>{{i.get_position_display}}</th>
			<th>{{i.get_service_display}}</th>
			<th>{{i.user.username}}</th>
			{% comment %} <th><a type="submit" class="btn btn-outline-primary" href ="">Cập nhật</a></th> {% endcomment %}
			<th><a type="submit" class="btn btn-outline-danger" href ="{% url 'delete_staff' i.pk %}">Xóa nhân viên</a></th>	
		</tr>
	{% endfor %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		{{ message }}
	</div>
	{% endfor %}
{% endif %}
{% endblock table_body %}