{% extends 'pages/main/main.html' %}
{% load static %}

{% block style %}
.container{
    padding: 50px;
    background-color:#ffffff;
    border-radius: 5px;
}
.row{
     
}
.book-name{
    font-size: 40px;
    font-family: Calibri;
    font-weight: 800;
}
.book-info{
    font-size: 20px;
    font-family: Calibri;
    font-weight: 800;
}
.card-img{
    height: 100%;
    width:auto;
    
}
.card-img img{
    width:100%; height:100%;object-fit: cover;
}
{% endblock style%}

{% block content %}

<div class="container">
    <div class="row" style="height: 450px;padding: 10px;">
        <div class="col-sm-4" style="height: 100%;object-fit: cover;">
            <div class="card-img">
                {% static "" as baseUrl %}
                <img src="{{baseUrl}}images/{{book.cover_pic}}" alt="">
            </div>
        </div>
        <div class="col-sm-8" style="padding: 30px 50px;">
            <p class="book-name">{{book.name}}</p>
            <div class="book-info">
                <p>Tác giả: {{book.auth}}</p>
                <p>Năm xuất bản: {{book.publisher}} </p>
                <p>Đáng giá: </p>
                <p>Trạng thái: </p>
            </div>                
            <button type="button" class="btn btn-outline-primary" style="margin-top:20px;">Thêm vào giỏ hàng</button>
        </div>
    </div>
    <div class="row" style="padding:20px 30px;">
        <p class="book-info" style="margin: 0px;">Mô tả sách :</p>
        <div class="overflow-auto" style="height: 200px;background-color: pink; padding: 10px;">
            <p> {{book.description}} </p>
        </div>
    </div>
</div>

{% endblock content %}