{% extends 'pages/main/main.html' %} {% load static %} {% block content %}


<section class="h-100" >
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Giỏ hàng</h3>
                </div>
                {% for i in cart %}
                <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                {% static "" as baseUrl %}
                                <img src="{{baseUrl}}images/{{i.book.cover_pic}}" class="img-fluid rounded-3">
                            </div>
                            <div class="col ">
                                <a class="lead fw-normal mb-2"  href="{% url 'detail' i.book.bId %}" style="color:black ;">{{i.book.name}}</a>
                                <p><span class="text-muted">Số lượng còn lại: </span>{{i.book.number_of_book_remain}}</p>
                            </div>


                            <div class="col text-end">
                                <a class="btn btn-outline-danger" href ="{% url 'remove_from_cart' i.pk %}">Xóa khỏi giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if count_book > 0 %}

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h6 class="fw-normal mb-0 text-black">Số lượng:
                        <span id="count"></span>{{count_book}}/5</span>
                    </h6>
                </div>
                <div class="card">
                    <div class="card-body">
                    <form action="" method="post">
                    {% csrf_token %}    
                        <input href="{% url 'cart' %}" type="submit" href="#myModal_dangkymuon" class=" btn btn-warning btn-block btn-lg " data-toggle="modal"  value="Đăng ký mượn">
                    </div>
                </div>
                {% else %}
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h6 class="fw-normal mb-0 text-black">Giỏ hàng trống</h6>
                </div>

                {% endif %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">x</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</section>

<div id="myModal_dangkymuon" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Đăng ký thành công!</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success btn-block" style="background: #82ce34;" href="{% url 'cart' %}">Ok</a>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
    function count_checked() {
        var numberOfChecked = $('input:checkbox:checked').length;
        document.getElementById("count").innerHTML = numberOfChecked
    }
</script>


{% endblock content %}