{% extends 'pages/table_form.html' %}
{% load static %}

{% block style_extra %}
	.table{
        margin: auto;
		width: 70%;
	}
    .submit{
        margin:20px 45% ;
    }
{% endblock style_extra %}


{% block title_name %}
    <p>Sách đang mượn</p>
{% endblock title_name %}

{% block table_head %}
<tr >
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Ngày mượn</th>

</tr>

{% endblock table_head %}
{% block table_body %}
{% for i,j,z in list_borrow %}
<tr>
    <th>{{i}}</th>
    <th>{{j}}</th>
    <th>{{z}}</th>

</tr>
{% endfor %}
{% endblock table_body %}

{% block title_name1 %}
    <p>Sách đăng ký mượn</p>
{% endblock title_name1 %}

{% block table_head1 %}
<tr >
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Trạng thái</th>

</tr>

{% endblock table_head1 %}
{% block table_body1 %}
{% for i,j,z in list_order %}
<tr>
    <th>{{i}}</th>
    <th>{{j}}</th>
    <th>{{z}}</th>
</tr>
{% endfor %}
{% endblock table_body1 %}


