{% extends 'pages/main/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Bạn có chắc muốn xóa sách "{{cart.book.name}}"?</p>
            <form action="{% url 'remove_from_cart' cart.pk %}" method="POST">
                {% csrf_token %}
                <a class='btn btn-warning' href="{% url 'cart' %}">Hủy bỏ</a>

                <input class='btn btn-danger' type="submit" value="Xác nhận">
            </form>
        </div>
    </div>
</div>
{% endblock content %}