{% extends 'pages/main/main.html' %}
{% load static %}

{% block style %}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #e5cce5 ;
}
.background_qoute
{
    overflow: hidden;
}
.bg_img{
    margin-bottom: 30px;
    margin-left: 70px;
    width: 90%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.userprofile {
	width: 100%;
	float: left;
	clear: both;
	margin: 40px auto;
}
.userprofile .userpic {
	height: 250px;
	width: auto;
	clear: both;
	margin: 0 auto;
	display: block;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative; 
}
.userprofile .userpic .userpicimg {
	height: 100%;
	width: 100%;
	border-radius: 0;
}
.title-book-name{
    margin-left: -20px;
    font-family: 'Calibri';
    color: #352d13;
}

.panel-default>.panel-heading {
    color: #607D8B;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    border-color: #e1eaef;
}

.panel {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    margin-bottom: 35px;
    border-radius: 5px;
    position: relative;
    border: 0;
    display: inline-block;
    width: 100%;
    
}
.panel-footer {
    background: white;
    padding-top: -30px;
    border-top: 1px solid #eef2f4;
    border-radius: 5px;
    padding-bottom:20px;
}
.panel-footer a{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 100px;
}

{% endblock style %}

{% block content %}

<form>
    <div class="row" style="display:flex; justify-content: space-around ;">
        <div class="form-group col-md-2">
            <label for="bookname">Tên sách : </label>
            <input type="text" class="form-control" id="bookname">
        </div>

        <div class="form-group col-md-2">
            <label for="authorname">Tên tác giả :</label>
            <input type="text" class="form-control" id="authorname">
        </div>

        <div class="form-group col-md-2">
            <label for="inputState">Thể loại : </label>
            <select id="inputState" class="form-control">
                <option selected>Khoa học</option>
                <option selected>Tiếng anh</option>
                <option selected>Tiểu thuyết</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label>Thời gian xuất bản</label>
            <div class="row">
                <div class="row gx-3 col">
                    <label class="col"> từ :</label>
                    <input type="number" min="1900" max="2022" step="1" value="2022" class="form-control col"/>
                </div>
                <div class="row gx-3 col">
                    <label class="col"> đến :</label>
                    <input type="number" min="1900" max="2022" step="1" value="2022" class="form-control col" />                   
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <a class="btn btn-primary" href="#" role="button" style="margin-top:30px;margin-left:50px;">Tìm kiếm</a>
        </div>

    </div>
</form>


<div class="container overflow-auto" style="height:800px; margin-top:50px;">

    <div class="row">
        {% if num_books == 0 %}
            <p style="text-align:center;">Không có kết quả phù hợp</p>
        {% else %}
            
        {% for i in books %}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="{% url 'detail' i.id %}" >
            <div class="panel panel-default userlist">
                <div class="panel-body text-center">
                    <div class="userprofile">
                        <div class="userpic"> 
                            {% static "" as baseUrl %}
                            <img src="{{baseUrl}}images/{{i.cover_pic}}" alt="" class="userpicimg"> 
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="panel-footer"> <a href="{% url 'detail' i.id %} " class="btn btn-link">{{i.name}}</a></div>       
            </div>
        </div>
        {% endfor %}

        {% endif %} 
    </div>
</div>



{% endblock content %}