{% extends 'pages/table_form.html' %}
{% load static %}


{% block button %}
	<div class="add_button">
        <a href="{% url 'add_book' %}" class="btn btn-outline-primary"  >Thêm sách mới</a>
        <a href="{% url 'thanh_ly' %}" class=" btn btn-primary" >Thanh Lý</a>
	</div>
{% endblock %}


{% block title_name %}
	<p>Danh sách sách</p>
{% endblock %}


{% block table_head %}
    <tr>
        <th></th>
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Thể loại</th>
        <th>Tác giả</th>
        <th>Năm xuất bản</th>
        <th>Nhà xuất bản</th>
        <th>Ngày nhập</th>
        <th>Trị giá</th>
        <th>Người tiếp nhận</th>
    </tr>

{% endblock %}

{% block table_body %}
    {% for i in books %}
    <tr>
        <th><label><input type="checkbox" id="choice" value="return" name="return" /></label></th>
        <th>S0{{i.id}}</th>
        <th>{{i.name}}</th>
        <th>{{i.ctg}}</th>
        <th>{{i.auth}}</th>
        <th>{{i.pubYear}}</th>
        <th>{{i.publisher}}</th>
        <th>{{i.inputDate}}</th>
        <th>{{i.price}}</th>
        <th>Người tiếp nhận</th>
    </tr>
    {% endfor %}
{% endblock %}

{% block confirm_button %}
{% endblock %}


