{% extends 'pages/main/main.html' %}
{% load static %}


{% block style %}
.form{
    margin: auto;
    margin-top:10px;
    padding: 40px 50px;
    width: 30%;
    background: #C3B4E2 ;
    border-radius:5px;
}
.title_name{
    color:#4C3876 ;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 35px;
}
.col-12{
    margin-top: 30px;
}
{% endblock style %}


{% block content %}
<div class="form">
    <div class="title_name">
		<div class="d-flex justify-content-center">
			<h3>Đăng ký độc giả</h3>
		</div>
	</div>

    <form class="row g-3">
        <div class="col-12">
            <input type="text" class="form-control " id="inputAddress" placeholder="Họ và tên">
        </div>
        <div class="col-12">
            <select id="inputState" class="form-select">
            <option selected>Loại độc giả</option>
            <option>Sinh viên</option>
            <option>Không là sinh viên</option>
            </select>
        </div>
        <div class="col-12">
            <input type="text" class="form-control " id="inputAddress" placeholder="Địa chỉ">
        </div>
        <div class="col-12">
          <input type="text" class="form-control " id="inputAddress" placeholder="Email">
        </div>
        <div class="col-12">
          <input type="text" class="form-control " id="inputAddress2" placeholder="Ngày lập thẻ">
        </div>
        <div class="col-12">
          <input type="text" class="form-control " id="inputCity" placeholder="Người lập">
        </div>
        <div style="margin-top:30px;">
            <a href="#myModal" class=" btn btn-block" style="background-color: #4C3876; color: white;" data-toggle="modal">Thêm</a>
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                        </div>				
                        <h4 class="modal-title w-100">Thêm thành công!</h4>	
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success btn-block" style="background: #82ce34;" href="{% url 'librarian' %}" >Ok</a>
                    </div>
                </div>
            </div>
        </div>     

      </form>
</div>
{% endblock content %}
