{% extends 'pages/table_form.html' %}
{% load static %}

{% block style_extra %}
	.table{
        margin:auto;
		width: 50%;
	}
    .submit{    
        margin:20px 45% ;
    }

{% endblock style_extra %}

{% block line_info %}
    <div class="infor_tittle">
        <p class="infor_tittle_name">Mã độc giả:</p>
        <div class="form-group">
        <input type="ID" class="form-control " style="margin-left: 10px;width:150px;">
        </div>
    
    </div>
    <div class="infor_tittle">
        <p class="infor_tittle_name">Ngày mượn:</p>
        <input type="date" class="form-control " style="margin-left: 10px;width:150px;">
    </div>
{% endblock line_info %}


{% block tittle_name %}
<p>Danh sách sách mượn</p>

{% endblock tittle_name %}

{% block table_head %}
<tr >
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Trạng thái</th>

</tr>

{% endblock table_head %}
{% block table_body %}
<tr>
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Trạng thái</th>
</tr>	
{% endblock table_body %}
{% block confirm_button %}
<div class="submit">
    <button type="button" class="btn btn-primary">Xác nhận</button>
</div>
{% endblock %}



