{% extends 'pages/table_form.html' %}
{% load static %}

{% block style_extra %}

{% endblock style_extra %}

{% block line_info %}
    <div class="infor_title">
        <p class="infor_title_name">Mã độc giả:</p>
        <input class="form-control form-control-sm" type="text" placeholder="DG10001" readonly style="margin-left: 10px;width:150px;">
    </div>
{% endblock line_info %}


{% block title_name %}
<p>Danh sách độc giả mượn sách</p>
{% endblock title_name %}


{% block table_head %}
<tr>
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Ngày mượn</th>
    <th>Ngày trả</th>
    <th>Số ngày mượn</th>
    <th>Trả</th>
    <th>Mất</th>
    <th>Tiền phạt</th>

</tr>

{% endblock table_head %}
{% block table_body %}
<tr>
    <th>Mã sách</th>
    <th>Tên sách</th>
    <th>Ngày mượn</th>
    <th>Ngày trả</th>
    <th>Số ngày mượn</th>
    <th><label><input type="radio" id="choice1" value="return" name="return" /></label></th>
    <th><label><input type="radio" id="choice2" value="lost" name="return" /></label></th>
    <th>200</th>

</tr>	

<tr>
    <th colspan="7" >Tổng tiền phạt: </th>
    <th>200</th>
</tr>


{% endblock table_body %}


{% block confirm_button %}
<div class="text-center">
	<!-- Button HTML (to Trigger Modal) -->
	<a href="#myModal_lapphieuphat" class=" btn btn-primary trigger-btn" data-toggle="modal">Lưu</a>
</div>
<div id="myModal_lapphieuphat" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Cập nhật thành công!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Số sách mượn còn lại :</p>
                <p class="text-center">Tiền phạt :</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-danger btn-block" href="{% url 'phieu_phat' %}" >Lập phiếu phạt</a>
			</div>
		</div>
	</div>
</div>     

{% endblock confirm_button%}
