{% extends 'pages/main/main.html' %}
{% load static %}

{% block style %}
    .a{
        margin: auto;
        margin-top:30px;
        padding: 20px 50px;
        background: white ;
        border-radius:5px;
        width:50%;
    }
{% endblock style %}


{% block content %}

<div class="a" >
    <form class="row g-3" method="POST" action="">
        {% csrf_token %}
		<div class="form-outline">
            <label for="inputPassword4" class="form-label" >Tên sách</label>
            {{form.name}}
        </div>
		<div class="form-outline">
            <label for="formFile" class="form-label ">Ảnh bìa sách</label>
            {{form.cover_pic}}
          </div>
		<div class="">
            <label for="inputPassword4" class="form-label ">Thể loại</label>
            {{form.ctg}}
        </div> 
		<div class="form-outline">
            <label for="inputEmail4" class="form-label ">Tác giả</label>
            {{form.author}}
        </div>
		<div class="form-outline">
            <label for="inputEmail4" class="form-label ">Trị giá</label>
            {{form.price}}
        </div>
		<div class="form-outline">
            <label for="inputPassword4" class="form-label ">Nhà xuất bản</label>
            {{form.publisher}}
        </div>
		<div class="form-outline">
            <label for="inputEmail4" class="form-label ">Năm xuất bản</label>
            {{form.pubYear}}
        </div>
		<div class="form-outline">Số lượng nhập</label>
            {{form.total}}
        </div>
		<div class="form-outline">Mô tả sách</label>
            {{form.description}}
        </div>
        <div style="margin-top:30px;">
        	<input class="btn btn-primary btn-block" type="submit" name="update" value="Cập nhật">
        </div>

        
    </form>
</div>  



{% endblock content %}
