{% extends 'pages/table_form.html' %}
{% load static %}


{% block button %}
	<div class="add_button">
        <a href="{% url 'add_book' %}" class="btn btn-outline-primary"  >Thêm sách mới</a>
        <a href="{% url 'thanh_ly' %}" class=" btn btn-primary" >Thanh Lý</a>
	</div>
{% endblock %}


{% block title_name %}
	<p>Danh sách sách</p>
{% endblock %}


{% block table_head %}
    <tr>
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Thể loại</th>
        <th>Tác giả</th>
        <th>Năm xuất bản</th>
        <th>Nhà xuất bản</th>
        <th>Ngày nhập</th>
        <th>Trị giá</th>
        <th>Tổng số</th>
        <th>Số sách còn lại</th>
    </tr>

{% endblock %}

{% block table_body %}
    {% for i in books %}
    <tr>
        <th>{{i.bId}}</th>
        <th>{{i.name}}</th>
        <th>{{i.get_all_ctg_to_string}}</th>
        <th>{{i.author}}</th>
        <th>{{i.pubYear}}</th>
        <th>{{i.publisher}}</th>
        <th>{{i.addDate}}</th>
        <th>{{i.price}}</th>
        <th>{{i.total}}</th>
        <th>{{i.number_of_book_remain}}</th>
    </tr>
    {% endfor %}
{% endblock %}

{% block confirm_button %}
{% endblock %}


